<a href="https://colab.research.google.com/github/KelvinxG/30DaysChallengePractice/blob/master/30_daysChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import math
import random
import re
import sys

In [ ]:

#problem day 5
n=int(input())

for i in range(1,11):
    result=n*i
    print(n,"x",i,"=",result)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
#problem6


for i in range(int(input())): s=input(); print(*["".join(s[::2]),"".join(s[1::2])])

2
hacker
hce akr
rank
rn ak

In [36]:
#problem 7

n = int(input())

arr = list(map(int, input().strip().split()))
rarr = map(str, arr[::-1])
print(" ".join(rarr))

2
1 2
2 1

In [39]:
#problem 7 
#reverse order using reverse
n = int(input())

arr = list(map(int, input().rstrip().split()))

print(list(reversed(arr)))

4
1 2 3 4
[4, 3, 2, 1]

In [40]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)
  
class Student(Person):
    def __init__(self, firstName, lastName, idNumber, testScores):
        super().__init__(firstName, lastName, idNumber)
        self.testScores = testScores

    def calculate(self):
        total = 0

        for testScore in self.testScores:
            total += testScore

        avg = total / len(self.testScores)

        if 90 <= avg <= 100:
            return 'O'
        if 80 <= avg < 90:
            return 'E'
        if 70 <= avg < 80:
            return 'A'
        if 55 <= avg < 70:
            return 'P'
        if 40 <= avg < 55:
            return 'D'
        return 'T'
  

line = input().split()
firstName = line[0]
lastName = line[1]
idNum = line[2]
numScores = int(input()) # not needed for Python
scores = list( map(int, input().split()) )
s = Student(firstName, lastName, idNum, scores)
s.printPerson()
print("Grade:", s.calculate())

Heraldo Memelli 8135627
2
100 80
Name: Memelli, Heraldo
ID: 8135627
Grade: O

In [53]:
#problem 9
import math
import os
import random
import re
import sys

# Complete the factorial function below.
def factorial(n):
    
    return math.factorial(n)
    
if __name__ == '__main__':
#    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    n = int(input())

    result = factorial(n)

    #fptr.write(str(result) + '\n')

    #fptr.close()

5

In [60]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())
    print(bin(n)[4:])

5
1