<a href="https://colab.research.google.com/github/KelvinxG/30DaysChallengePractice/blob/master/30_daysChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import math
import random
import re
import sys

In [ ]:

#problem day 5
n=int(input())

for i in range(1,11):
    result=n*i
    print(n,"x",i,"=",result)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#problem6


for i in range(int(input())): s=input(); print(*["".join(s[::2]),"".join(s[1::2])])

2
hacker
hce akr
rank
rn ak

In [ ]:
#problem 7

n = int(input())

arr = list(map(int, input().strip().split()))
rarr = map(str, arr[::-1])
print(" ".join(rarr))

2
1 2
2 1

In [ ]:
#problem 7 
#reverse order using reverse
n = int(input())

arr = list(map(int, input().rstrip().split()))

print(list(reversed(arr)))

4
1 2 3 4
[4, 3, 2, 1]

In [ ]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)
  
class Student(Person):
    def __init__(self, firstName, lastName, idNumber, testScores):
        super().__init__(firstName, lastName, idNumber)
        self.testScores = testScores

    def calculate(self):
        total = 0

        for testScore in self.testScores:
            total += testScore

        avg = total / len(self.testScores)

        if 90 <= avg <= 100:
            return 'O'
        if 80 <= avg < 90:
            return 'E'
        if 70 <= avg < 80:
            return 'A'
        if 55 <= avg < 70:
            return 'P'
        if 40 <= avg < 55:
            return 'D'
        return 'T'
  

line = input().split()
firstName = line[0]
lastName = line[1]
idNum = line[2]
numScores = int(input()) # not needed for Python
scores = list( map(int, input().split()) )
s = Student(firstName, lastName, idNum, scores)
s.printPerson()
print("Grade:", s.calculate())

Heraldo Memelli 8135627
2
100 80
Name: Memelli, Heraldo
ID: 8135627
Grade: O

In [ ]:
#problem 9
import math
import os
import random
import re
import sys

# Complete the factorial function below.
def factorial(n):
    
    return math.factorial(n)
    
if __name__ == '__main__':
#    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    n = int(input())

    result = factorial(n)

    #fptr.write(str(result) + '\n')

    #fptr.close()

5

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())
    print(bin(n)[4:])

5
1

In [ ]:
#variable declaration
#data type
import string
#number,integer
x=100
y=200
#float
x_float=105.154
#string
s="This "
a=" is "
t=" String "
sum_string=s+a+t
print(s+a+t)
print(sum_string.upper())
print(sum_string.lower())

t.strip()
type(s+a+t)

This  is  String
THIS  IS  STRING
this  is  string

str

In [ ]:
#string in python
#does not required import string 
s="This "
a=" is "
t="String"
sum_string=s+a+t

xt=t[0].lower()
tt=t.strip("S")

print(xt+tt)

string

In [ ]:
#string 2
full_name=input("Enter your name:").split()
first_name=full_name[0]
last_name=full_name[1]

print("First name:",first_name)
print("Last name:",last_name)
print(" ".join(full_name))

Enter your name:Kelvin charles
First name: Kelvin
Last name: charles
Kelvin charles

In [ ]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None 
class Solution: 
    def display(self,head):
        current = head
        while current:
            print(current.data,end=' ')
            current = current.next
      def head(self,head):
         self.head=head

    def insert(self,head,data): 
    #Complete this method
        new_node=Node(data)

        new_node.next=self.head

        self.head=new_node

mylist= Solution()
T=int(input())
head=None
for i in range(T):
    data=int(input())
    head=mylist.insert(head,data)    
mylist.display(head);

IndentationError: ignored

In [ ]:
#problem 11

a=[['12','4'],['42']]

['12', '4'] [0]

In [2]:
#problem 13
from abc import ABCMeta, abstractmethod
class Book(object, metaclass=ABCMeta):
    def __init__(self,title,author):
        self.title=title
        self.author=author   
    @abstractmethod
    def display(): pass

#Write MyBook class
class MyBook(Book):
    price = 0
    def __init__(self, title, author, price):
        super(Book, self).__init__()
        self.price = price 

    def display(self):
        print("Title: "+ title)
        print("Author: "+ author)
        print("Price: "+ str(price))
title=input()
author=input()
price=int(input())
new_novel=MyBook(title,author,price)
new_novel.display()

Bacon
Cheese
150
Title: Bacon
Author: Cheese
Price: 150

In [14]:
#problem 14

#test class

class Mammal(object):
  def __init__(self, mammalName):
    print(mammalName, 'is a warm-blooded animal.')
    
class Dog(Mammal):
  def __init__(self):
    print('Dog has four legs.')
    super().__init__('Dog')
    
d1 = Dog()

Dog has four legs.
Dog is a warm-blooded animal.